$colorA: #47beda;
$colorC: #ffc16e;
$colorD: #226694;

.landingPage {
  width: 100%;
  padding: 10vh 0;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 400px;
    border-radius: 50%;
  }
  h2 {
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $colorC;
    margin: 30px 0 15px 0;
    &:nth-of-type(2) {
      margin: 0px 0 30px 0;
    }
  }
  h1 {
    text-align: center;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: $colorA;
    margin-bottom: 15px;
  }
  a {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $colorD;
    font-size: 1.6em;
    color: #fff;
    padding: 10px 25px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    &:hover {
      transform: scale(0.9, 0.9);
    }
  }
}

@media (max-width: 750px) {
  .landingPage {
    img {
      width: 300px;
    }
    h2 {
      font-size: 1.5em;
      letter-spacing: 2px;
      margin: 25px 0 15px 0;
      &:nth-of-type(2) {
        margin: 0px 0 25px 0;
      }
    }
    h1 {
      font-size: 2em;
      letter-spacing: 8px;
      margin-bottom: 15px;
    }
    a {
      font-size: 1.2em;
      border-radius: 10px;
    }
  }
}
