$colorA: #47beda;
$colorB: #9cadbc;
$colorC: #ffc16e;
$colorE: #f1ac50;

#cartBtnA {
  width: 60%;
  height: 40px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  background-color: $colorC;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: $colorE;
  }
}

#cartBtnB {
  width: 30%;
  height: 40px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  background-color: #e33935;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: #d63632;
  }
}

#cartBtnC {
  height: 35px;
  padding: 0 10px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  background-color: #777;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: #333;
  }
}

.cartModal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

.cartModalActive {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(0);
  opacity: 1;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

.cartContainer {
  position: absolute;
  width: 650px;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all 0.4s ease;
}

.cartContainerActive {
  position: absolute;
  width: 650px;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(0);
  transition: all 0.4s ease;
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.5);
}

.cartHeader {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-evenly;
  height: 130px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .imgCover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }
  h1 {
    position: relative;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.8);
  }
  p {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
  }
}

#closeCartBtn {
  position: relative;
  width: 95%;
  font-size: 2em;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
  &:hover {
    color: $colorC;
  }
}

.cartBody {
  height: calc(100vh - 240px) !important;
  padding: 140px 10px 100px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
    color: $colorA;
  }
}

.cartFooter {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}

.cartItemsRow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px 0;
  border-bottom: 2px solid #999;
  img:nth-of-type(1) {
    width: 25%;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  img:nth-of-type(2) {
    width: 12%;
    margin: 0 8px;
    cursor: pointer;
  }
  .itemDetailsBox {
    align-self: flex-start;
    width: 40%;
    margin: 0 8px;
    padding: 5px 0;
    p {
      &:nth-of-type(1) {
        font-size: 1.2em;
        font-weight: 600;
      }
      &:nth-of-type(2) {
        margin-top: 8px;
        font-weight: 600;
        color: $colorB;
      }
      &:nth-of-type(3) {
        font-size: 1.2em;
        margin-top: 8px;
        font-weight: 600;
        color: $colorC;
      }
      &:nth-of-type(4) {
        margin-top: 8px;
        font-weight: 600;
        color: $colorC;
      }
    }
  }
  .itemControlBox {
    width: 15%;
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
      font-size: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 10px 0;
      background-color: #fff;
      border: 2px solid $colorB;
      cursor: pointer;
    }
  }
}

.cartTotalBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  p {
    &:nth-of-type(1) {
      font-size: 1.1em;
      font-weight: 600;
      text-transform: uppercase;
    }
    &:nth-of-type(2) {
      color: $colorC;
      font-size: 1.1em;
      font-weight: 600;
    }
  }
}

.orderSummaryTable {
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
  margin: 15px 0;
}

td {
  text-align: center;
  padding: 10px 0 0 0;
}

#orderForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 35px;
  h1 {
    margin-bottom: 10px;
  }
  input {
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    font-size: 1em;
    border-radius: 5px;
    padding: 0 5px;
    border: none;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
    &:focus {
      // outline: none;
      outline: 2px solid $colorA;
    }
  }
  label {
    margin-bottom: 5px;
    font-size: 0.9em;
  }
}

//media queries
@media (max-width: 750px) {
  .cartModal,
  .cartModalActive {
    background-color: transparent;
  }
  .cartContainer,
  .cartContainerActive {
    width: 100%;
    box-shadow: none;
  }
}

@media (max-width: 620px) {
  .cartItemsRow {
    padding: 15px;
    img:nth-of-type(1) {
      width: 140px;
    }
    img:nth-of-type(2) {
      width: 60px;
    }
    .itemControlBox {
      width: 40px;
      i {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin: 10px 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .cartHeader {
    h1 {
      letter-spacing: 3px;
      font-size: 1.6em;
      text-align: center;
      margin-bottom: 15px;
    }
    p {
      font-size: 0.9em;
    }
  }

  #closeCartBtn {
    font-size: 1.8em;
    margin-top: 10px;
  }

  .cartItemsRow {
    flex-direction: column;
    img:nth-of-type(2) {
      width: 50px;
      margin: 8px 0;
    }
    .itemDetailsBox {
      align-self: center;
      width: 100%;
      margin: 8px 0;
      padding: 5px;
      p {
        text-align: center;
      }
    }
    .itemControlBox {
      width: unset;
      height: 40px;
      margin: 8px 0;
      flex-direction: row;
      i {
        width: 30px;
        height: 30px;
        margin: 0 10px;
      }
    }
  }

  .modalContainer,
  .modalContainerActive {
    width: 300px;
  }

  #modalCloseBtn {
    font-size: 1.3em;
    width: 25px;
    height: 25px;
  }

  .modalUpperSection {
    height: 70px;
    padding: 20px;
  }

  .modalLowerSection {
    height: 100px;
    padding: 20px;
    h1 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1em;
    }
  }

  #cartBtnA {
    width: 52%;
    height: 35px;
    font-size: 0.9em;
    letter-spacing: 1px;
  }

  #cartBtnB {
    width: 38%;
    height: 35px;
    font-size: 0.9em;
    letter-spacing: 1px;
  }

  #cartBtnC {
    height: 30px;
    font-size: 0.9em;
  }
}

@media (max-width: 330px) {
  #orderForm {
    input {
      width: 270px;
    }
  }
}
