.headerWrapper {
  width: 100%;
  height: 115px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.headerWrapperAct {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 85%;
}

.logo img {
  height: 100%;
}

.cartBtn {
  background-color: transparent;
  border: none;
  height: 60%;
  position: relative;
  cursor: pointer;
}

.cartBtn img {
  height: 100%;
}

.cartBtn span {
  position: absolute;
  top: -8px;
  right: 0;
  padding: 5px;
  color: #fff;
  background-color: tomato;
  border-radius: 20px;
}

.responseModal {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: none;
}

.responseModalActive {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.modalContainer {
  position: absolute;
  width: 450px;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: none;
}

.modalContainerActive {
  position: absolute;
  width: 450px;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 15px;
  overflow: hidden;
}

#modalCloseBtn {
  position: absolute;
  font-size: 1.5em;
  color: #ffc16e;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ffc16e;
  border-radius: 50%;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#modalCloseBtn:hover {
  color: #f1ac50;
  border: 2px solid #f1ac50;
}

.modalUpperSection {
  height: 80px;
  background-color: #226694;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalLowerSection {
  height: 100px;
  padding: 25px;
}

.modalLowerSection h1 {
  font-size: 1.8em;
  text-align: center;
  color: #226694;
}

.modalLowerSection h3 {
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.loadingWheel {
  width: 60px;
  height: 60px;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-clip-path: polygon(10% 10%, -20% 100%, 150% 100%);
          clip-path: polygon(10% 10%, -20% 100%, 150% 100%);
  -webkit-animation: rotate 0.7s linear infinite;
          animation: rotate 0.7s linear infinite;
}

.responseSign {
  width: 60px;
  height: 60px;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-animation: appear 0.7s linear forwards;
          animation: appear 0.7s linear forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.responseSign i {
  font-size: 2em;
  color: #fff;
}

.signCover {
  position: absolute;
  width: 110%;
  height: 110%;
  background-color: #226694;
  -webkit-animation: reveal 0.5s 0.7s linear forwards;
          animation: reveal 0.5s 0.7s linear forwards;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes reveal {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes reveal {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
/*# sourceMappingURL=style.css.map */