.headerWrapper {
  width: 100%;
  height: 12vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.headerWrapperAct {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 85%;
}

.logo img {
  height: 100%;
}

.cartBtn {
  background-color: transparent;
  border: none;
  height: 60%;
  position: relative;
  cursor: pointer;
}

.cartBtn img {
  height: 100%;
}

.cartBtn span {
  position: absolute;
  top: -8px;
  right: 0;
  padding: 5px;
  color: #fff;
  background-color: tomato;
  border-radius: 20px;
}

.cartModal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

.cartModalActive {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

.cartContainer {
  position: absolute;
  width: 650px;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cartContainerActive {
  position: absolute;
  width: 650px;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.5);
          box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.5);
}

.cartHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 15vh;
}

.cartHeader img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cartHeader .imgCover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.cartHeader h1 {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3vh;
  text-align: center;
  margin-bottom: 1vh;
  color: #fff;
  text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.8);
}

.cartHeader p {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8vh;
}

#closeCartBtn {
  position: relative;
  width: 95%;
  font-size: 3.5vh;
  margin-top: 1.2vh;
  color: #fff;
  cursor: pointer;
}

#closeCartBtn:hover {
  color: #ffc16e;
}

.cartBody {
  height: 74vh;
  padding: 16vh 10px 10vh 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cartBody h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
  color: #47beda;
}

.cartItemsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin: 10px 0;
  border-bottom: 2px solid #999;
}

.cartItemsRow img:nth-of-type(1) {
  width: 25%;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 8px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cartItemsRow img:nth-of-type(2) {
  width: 12%;
  margin: 0 8px;
  cursor: pointer;
}

.cartItemsRow .itemDetailsBox {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 30%;
  margin: 0 8px;
  padding: 5px 0;
}

.cartItemsRow .itemDetailsBox p:nth-of-type(1) {
  font-size: 1.2em;
  font-weight: 600;
}

.cartItemsRow .itemDetailsBox p:nth-of-type(2) {
  margin-top: 8px;
  font-weight: 600;
  color: #9cadbc;
}

.cartItemsRow .itemDetailsBox p:nth-of-type(3) {
  font-size: 1.2em;
  margin-top: 8px;
  font-weight: 600;
  color: #ffc16e;
}

.cartItemsRow .itemDetailsBox p:nth-of-type(4) {
  margin-top: 8px;
  font-weight: 600;
  color: #ffc16e;
}

.cartItemsRow .itemControlBox {
  width: 15%;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartItemsRow .itemControlBox i {
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid #9cadbc;
  cursor: pointer;
}

.cartTotalBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.cartTotalBox p:nth-of-type(1) {
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
}

.cartTotalBox p:nth-of-type(2) {
  color: #ffc16e;
  font-size: 1.1em;
  font-weight: 600;
}

.orderSummaryTable {
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
  margin: 15px 0;
}

td {
  text-align: center;
  padding: 10px 0 0 0;
}

#orderForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
}

#orderForm h1 {
  margin-bottom: 10px;
}

#orderForm input {
  width: 300px;
  height: 30px;
  margin-bottom: 15px;
  font-size: 1em;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#orderForm input:focus {
  outline: 2px solid #47beda;
}

#orderForm label {
  margin-bottom: 5px;
  font-size: 0.9em;
}

#cartBtnA {
  position: absolute;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 2vh;
  height: 5vh;
  font-size: 1.8vh;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  background-color: #ffc16e;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

#cartBtnA:hover {
  background-color: #f1ac50;
}

#cartBtnB {
  height: 4vh;
  padding: 0 10px;
  font-size: 1.5vh;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  background-color: #777;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

#cartBtnB:hover {
  background-color: #333;
}
/*# sourceMappingURL=style.css.map */