$colorA: #47beda;
$colorB: #9cadbc;
$colorC: #ffc16e;
$colorD: #226694;
$colorE: #f1ac50;

.headerWrapper {
  width: 100%;
  height: 115px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  transition: 0.3s ease-in-out;
}

.headerWrapperAct {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  transition: 0.3s ease-in-out;
  height: 85%;
  img {
    height: 100%;
  }
}

.cartBtn {
  background-color: transparent;
  border: none;
  height: 60%;
  position: relative;
  img {
    height: 100%;
  }
  cursor: pointer;
  span {
    position: absolute;
    top: -8px;
    right: 0;
    padding: 5px;
    color: #fff;
    background-color: tomato;
    border-radius: 20px;
  }
}

.responseModal {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  transform: scale(0, 0);
  opacity: 0;
  transition: all 0.4s ease;
  pointer-events: none;
}

.responseModalActive {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  transform: scale(1, 1);
  opacity: 1;
  transition: all 0.4s ease;
}

.modalContainer {
  position: absolute;
  width: 450px;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 0;
  transition: all 0.4s ease;
  pointer-events: none;
}

.modalContainerActive {
  position: absolute;
  width: 450px;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 1;
  transition: all 0.4s ease;
  border-radius: 15px;
  overflow: hidden;
}

#modalCloseBtn {
  position: absolute;
  font-size: 1.5em;
  color: $colorC;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $colorC;
  border-radius: 50%;
  top: 5px;
  right: 5px;
  cursor: pointer;
  &:hover {
    color: $colorE;
    border: 2px solid $colorE;
  }
}

.modalUpperSection {
  height: 80px;
  background-color: $colorD;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalLowerSection {
  height: 100px;
  padding: 25px;
  h1 {
    font-size: 1.8em;
    text-align: center;
    color: $colorD;
  }
  h3 {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
  }
}

.loadingWheel {
  width: 60px;
  height: 60px;
  border: 5px solid #fff;
  border-radius: 50%;
  clip-path: polygon(10% 10%, -20% 100%, 150% 100%);
  animation: rotate 0.7s linear infinite;
}

.responseSign {
  width: 60px;
  height: 60px;
  border: 5px solid #fff;
  border-radius: 50%;
  animation: appear 0.7s linear forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  i {
    font-size: 2em;
    color: #fff;
  }
}

.signCover {
  position: absolute;
  width: 110%;
  height: 110%;
  background-color: $colorD;
  animation: reveal 0.5s 0.7s linear forwards;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes appear {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes reveal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
